@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #ebebeb;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
.root {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 260px;
  background-color: #ddd;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  z-index: 100;
}
.sidebar .side-title {
  height: 44px;
  line-height: 44px;
  background-color: #c6c6c6;
  text-align: center;
  font-weight: 600;
}
.sidebar .side-items {
  overflow: auto;
}
.sidebar .side-items .item {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
}
.sidebar .side-items .item input[type=checkbox] {
  display: none;
}
.sidebar .side-items .item label {
  padding: 3px 15px;
  cursor: pointer;
}
.sidebar .side-items .item.selected {
  background-color: #39f;
  color: #fff;
}

main {
  width: 100%;
}
main .title {
  height: 44px;
  line-height: 44px;
  background-color: #c6c6c6;
  text-align: center;
  font-weight: 600;
  width: 100%;
}

.btn {
  padding: 3px;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 2px;
  margin-left: 5px;
  transition: background-color 0.2s ease;
  outline: none;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.btn.delete {
  background-color: #f58979;
  color: #f8f6ff;
}
.btn.delete:hover {
  background-color: rgba(245, 55, 67, 0.78);
}
.btn.delete:active {
  background-color: #f53743;
}

@media screen and (max-width: 900px) {
  .root {
    flex-flow: column nowrap;
  }

  .sidebar {
    width: 100%;
  }
}
.hidden {
  display: none;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(150px, 3.33fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1fr) minmax(150px, 0.33fr);
}
table thead,
table tbody,
table tr {
  display: contents;
}
table th,
table td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table th {
  position: sticky;
  top: 0;
  background: #808080;
  text-align: left;
  font-weight: normal;
  font-size: 17px;
  color: #f8f6ff;
}
table th:last-child {
  border: 0;
}
table td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}
table td.buttons {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}
table tr:nth-child(even) td {
  background: #f8f6ff;
}
table .btn {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  color: #808080;
  font-weight: 600;
}

/*# sourceMappingURL=site.css.map */
