﻿@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>book catalog</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <div class="root">
        <div class="sidebar left">
            <div class="side-title">
                <span>Genres</span>
            </div>
            <div class="side-items" id="genres">
                @*<div data-id="40" class="item subItem selected">
                    <label>Comics & Graphic Novels</label>
                </div>*@
            </div>
        </div>

        <main>
            <div class="title">
                <span>Books</span>
                <a class="btn" href="/Home/CreateBook">Create book</a>
            </div>
            <table id="books" class="hidden">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </main>

    </div>
    <script src="./js/site.js"></script>
</body>
</html>

